body {
  margin: 0;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}
input {
  width: 100%;
  padding: 10px;
  border: lightgreen 3px solid;
  box-sizing: border-box;
  margin-bottom: 8px;
}
button {
  background: green;
  color: white;
  padding: 10px 20px;
  border: none;
  font-style: bold;
  font-size: 25px;
}
#del-btn {
  background: white;
  color: green;
  border: green solid 2px;
}
li {
  color: green;
  text-decoration: underline;
  font-style: italic;
  list-style: none;
}
