body {
  font-family: sans-serif;
  margin: 0;
  text-align: center;
}
.clickMe {
  width: 600px;
  padding: 55px;
  margin: 10px auto;
  background: skyblue;
  color: white;
  border: none;
  font-weight: bold;
  font-size: ;
}
.buy-btn {
  border: none;
  color: white;
  background: orange;
}
